#constraints {
    display: block;
    /* justify-content: space-between; */
    width: 100%;
  }
  
  #constraints_top {
    display: flex;
    margin: 20px 20px 40px 20px;
    width: 100%;
  }

  #contstraints_main {
    width: 100%
  }

  .constraint_container {
    display: flex;
    width: 100%;
    justify-content: space-between;
  }
  
  .controls {
    display: block;
    width: 100%;
    text-align: left;
  }
  .controls h3 {
    padding-left: 10px;
  }
  
  #submit {
    margin: 10px 0 20px;
    width: 200px;
    height: 50px;
  }
  
  #box {
    width: 100%;
    height: auto;
  }

  #error_boundary {
    color: red;
  }