/* BREAKS at ~370px w */

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }
  
  th {
    background-color: #f2f2f2;
  }
  
  #table_div h2 {
    margin-top: 70px;
  }
  
  #table_button {
    
    box-shadow: none;
  }