.App {
  text-align: center;
  overflow-x: hidden;
  padding: 30px 10px;
}

:root {
  background-color: #fff;
  color-scheme: none;
  color: #000;
}

.App::-webkit-scrollbar { 
  display: none;}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}


.dust-plot-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#plot {
  width: 100%;
  /* max-width: auto; */
  margin: 0 auto;
}

.svg-container {
  border: #000 3px solid;
  height: 95vh !important;
}

#plot_div {
  padding: 20px;
  height: 100vh
}

#dust_plot {
  width: 100%;
  height: 70vh;
}
.main-svg { 
  height: 94% !important; 
  font-weight: bold;
  padding: 20px;
  width: 95% !important;
}

#dust_plot .ytitle, #dust_plot .xtitle /*Axis title*/ {
  font-weight: bold !important;
  font-size: 18px !important;
}

#key {
  width: 200px;
  height: auto;
  border: 3px solid #1976d2;
  color: #1976d2;
  border-radius: 3px;
  position: absolute;
  text-align: left;
  padding: 10px;
  right: 100px;
  top: 1350px;
}

#key h2 {
  margin-top: 0px;
}

#box {
  width: 100%;
  height: auto;
}

#constraints {
  display: block;
  justify-content: space-between;
}
 #limit_box {
  display: flex;
  margin: 20px 30px;
 }

#constraints_top {
  display: flex;
  margin: 20px 20px 40px 20px;
}

.controls {
  display: flex;
  width: 100%;
}

#submit {
  margin: 10px 0 20px;
  width: 200px;
  height: 50px;
}


/* table */
table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

th, td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

th {
  background-color: #f2f2f2;
}

#table_div h2 {
  margin-top: 70px;
}

#table_button {
  
  box-shadow: none;
}