ul#people {
	padding-left: 0;
}
	
ul#people li {
	display: block;
	border: 1px solid #777;
	overflow: auto;
	margin: 20px 0px;
	background-color: #c2cedf;
	list-style: none;
}

ul#people li h2 {
	margin-bottom: 0;
	margin-top: 0;
}

ul#people li div.bio {
	padding: 5px;
	text-align: justify;
}

ul#people li div.bio p {
	text-indent: 2em;
	margin: 0;
	padding: 0;
}

ul#people li img {
	display: block;
	float: right;
	border: 1px solid black;
	border-width: 0 0 1px 1px;
	margin-left: 10px;
}

ul#people li div.border {
	margin: 5px;
	margin-top: 0;
	background-color: #e8f1ff;
/*	background-color:#4994DA;*/
	overflow: auto;
}

ul#people li a {
	display: block;
	float: right;
	margin: 0 5px 3px 0;
}

table tr td {
	padding: 5px 5px 5px 0;
	border-bottom: 1px solid #b9c1cb;
}